/* body {
  height: 100vh;
  background: #0062e6 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
*/
/* a {
  text-decoration: none;
}
.login-page {
  width: 100%;
  height: 100vh;
  display: inline-block;
  display: flex;
  align-items: center;
}
.form-right i {
  font-size: 100px;
}

.message-height {
  height: 100px;
}

.textarea-size {
  width: 100%;
  height: 150px;
} */

.team{
  text-align: center;
  width: 50%;
  border: 2px solid rgb(248, 197, 197);
  background-color: rgb(255 244 244);
  padding: 3em 3em 3em 3em;
  border-radius: 38px;
}
