#items{
    margin: 0 auto;
}
.nav-item{
    padding: 0px 3.1rem 1.1rem 0;
}
.img-container{
    width: 5%;
}
/* .face{
    width: 89%;
    border: 1px solid black;
    border-radius: 1rem;
    
} */

.facelogo{
    width: 89%;
    border: 1px solid black;
    border-radius: 1rem;
}
.cart{
    display: flex;
    justify-content: space-around;
}
/* img{
    width: 89%;
    border: 1px solid black;
    border-radius: 1rem;
} */

